# Pycache file would be generated while running this software
# pywhatkit_dbs.txt would also be generated on running this program for the first time.
__pycache__/ 
pywhatkit_dbs.txt
Students_Records.xlsx
fun.py