* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url("Images/bg1.jpg");
  background-size: cover;
  overflow-y: hidden;
  
}

.glassy {
  width: 60vw;
  background-color: rgba(8, 227, 243, 0.6);
  height: 80vh;
  min-height: 20vh;
  border-radius: 20px;
  border: 2px ridge white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 96vh;
}

.glassy-heading {
    font-size: 70px;
    font-family: 'Mukta', sans-serif;
    color: white;
    word-spacing: 5px;
    letter-spacing: 3px
}

.sidenav a{
  display: block;
  text-decoration: none;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 80px;
  color: white;
  transition: all;
  transition-duration: 1s;
}

.sidenav a:hover{
  display: block;
  text-decoration: none;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 80px;
  color: black;
}

.sidenav {
  background-color: rgba(8, 227, 243, 0.6);
  position: absolute;
  border-radius: 20px;
  border: 2px ridge white;
  margin-top: 20px;
  left: 10px;
}

#container {
  display: flex;
  align-items: left;
  justify-content: left;
}

#left-menu {
  position: absolute;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  margin-top: 10px;
  background-color:rgba(68, 224, 224, 0.6);
  border: 2px ridge white;

}

.menu-bar-items{
  padding-right: 20px;
  padding-left: 20px;
}

#power-button {
  display: flex;
  justify-content: center;
  background-color: rgba(68, 224, 224, 0.6);
  transition: all;
  transition-duration: 1s;
  border: 2px ridge white;
}

.menu-bar-items:hover {
  background-color: white;
}

.right-menu-bar {
  position: absolute;
  float: right;
  bottom: 0;
  right:0;
  background-color: rgba(68, 224, 224, 0.6);
  border-radius: 20px;
  border: 2px ridge white;
}

.right-menu-bar-items {
  padding-top: 25px;
  padding-bottom: 25px;
}

.right-menu-bar-items:hover {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}

#power-button img:hover{
  background-color: white;
}