* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url("Images/bg1.jpg");
  background-size: cover;
  
}

.glassy {
  width: 60vw;
  background-color: rgba(8, 227, 243, 0.6);
  height: 80vh;
  min-height: 20vh;
  border-radius: 20px;
  border: 2px ridge white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.glassy-heading {
    font-size: 70px;
    font-family: 'Mukta', sans-serif;
    color: white;
    word-spacing: 5px;
    letter-spacing: 3px
}

.sidenav a{
  display: block;
  text-decoration: none;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 80px;
  color: white;
  transition: all;
  transition-duration: 1s;
}

.sidenav a:hover{
  display: block;
  text-decoration: none;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 80px;
  color: rgb(35, 12, 245);
}

.sidenav {
  background-color: rgba(8, 227, 243, 0.6);
  position: absolute;
  border-radius: 20px;
  border: 2px ridge white;
  margin-top: 20px;
  left: 10px;
}

#container {
  display: flex;
  align-items: left;
  justify-content: left;
}

#left-menu {
  position: absolute;
}