html {
  background-image: url("images/bg1.jpg");
  background-size: cover;
  height: 100vh;
}

.glassy-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  /* border: 2px solid red; */
  flex-direction: column;
  /* justify-content: space-around; */
}

.glassy-section {
  height: 70vh;
  width: 70vw;
  border: 2px solid blue;
  overflow: auto;
  background-color: rgba(16, 199, 245, 0.5);
  border-radius: 10px;
  /* border: 2px solid red; */
  margin-top: 20px;
}


.menu-icon {
  position: absolute;
  /* border: 2px solid blue; */
  margin-top: 10px;
  left: 0;
  padding-left: 10px;
}

.glassy-menu-bar > img {
  padding-right: 25px;
  /* border: 2px solid red; */
  padding-left: 25px;
  margin-top: 10px;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  /* border: 2px solid red; */
}

.left-menu-bar {
  position: absolute;
  /* border: 2px solid blue; */
  left: 0;
  padding-top: 200px;
  background-color: rgba(16, 199, 245, 0.5);
  margin-left: 20px;
  width: 9%;
}

.left-menu-bar-items {
  padding-top: 50px;
  /* border: 2px solid blue; */
  padding-left: 2.5vw;
}

.left-menu-bar {
  /* z-index: -1; */
  border: 1px solid blue;
}